body {
    
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 50px;
    padding: 0;
    background-color: #F8F8F8;
    

}

.about-container {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr 1fr;
    gap: 15rem;
}
    .about-image > img {
        height:750px;
        width: 750px;
        border: groove;
    }
    .intro{
        font-size:50px;
        margin-left:5rem;
        
    }
        h1,p{
            text-align:center;
        }

.skills-container {
    display: inline-grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2,auto);
    width: 100%;
}
    .skills-container > .skills-header {
        grid-column-start: 1;
        grid-column-end: -1;
        font-size: 50px;
        text-align: center;
        place-items: center;
    }
    .skills> img{
        border-radius:50%;
        width:40%;
    }
    skills>p{
        font-size:50px;
    }


    

